<div class="row">
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Them nhan vien</h4>
                <form  method="post" name="f1" novalidate>
                    <div class="form-group">
                        <label for="exampleInput">Ten nhan vien</label>
                        <input type="text" class="form-control" placeholder="Enter name" name="nameNV" ng-model="nameNV" minlength="3" maxlength="20" required>                  
                    </div>
                    <div class="form-group">
                        <label >Gioi tinh</label>
                        <select name=gioiTinh  class="form-control" ng-model="gioiTinh">
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label >Phân Quyền</label>
                        <select class="form-control" name="phanQuyen" ng-model="phanQuyen">
                          <option value="1">Quản lý Thông tin</option>x
                          <option value="2">Quản lý ĐẶT VÉ</option>
                          <option value="3">Quản lý Tổng Thể</option>
                      </select>
                  </div>
                  <div class="form-group ">
                    <label >Địa Chỉ</label>
                    <input type="text" class="form-control" placeholder="địa chỉ" name="diaChi" ng-model="diaChi" minlength="3" maxlength="40" required>
                </div>
                <div class="form-group ">
                    <label >Tai khoan</label>
                    <input type="text" class="form-control" placeholder="username" name="taiKhoan" ng-model="taiKhoan" minlength="3" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label >Mat Khau</label>
                    <input type="text" class="form-control" placeholder="pass" name="pass" ng-model="pass" minlength="3" maxlength="20" required>
                </div>
                <button type="button" class="btn btn-primary" ng-click="addInfo()">Lưu</button>
            </form>
        </div>
    </div>
</div>
</div>