<div class="row">
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title text-center">Thêm nhân viên</h4>
                <form  method="post" name="f1" novalidate>
                    <div class="form-group">
                        <label for="exampleInput">Tên nhân viên</label>
                        <input type="text" class="form-control" placeholder="Enter name" name="nameNV" ng-model="nameNV" minlength="3" maxlength="20" ng-required=true> 
                        <span class="error" ng-show="f1.nameNV.$error.required">Không được để trống</span>
                        <span class="error" ng-show="f1.nameNV.$error.maxlength">Không được nhập quá 20 ký tự</span>
                        <span class="error" ng-show="f1.nameNV.$error.minlength">Không được nhập ít hơn 3 ký tự</span>

                    </div>
                    <div class="form-group">
                        <label >Gioi tinh</label>
                        <select name=gioiTinh  class="form-control" ng-model="gioiTinh" ng-required=true>
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                        <span class="error" ng-show="f1.gioiTinh.$error.required">Không được để trống</span>
                    </div>
                    <div class="form-group">
                        <label >Phân Quyền</label>
                        <select class="form-control" name="phanQuyen" ng-model="phanQuyen" ng-required=true>
                          <option value="1">Quản lý Thông tin</option>x
                          <option value="2">Quản lý Hoạt động</option>
                          <option value="3">Quản lý Tổng Thể</option>
                      </select>
                      <span class="error" ng-show="f1.phanQuyen.$error.required">Không được để trống</span>
                  </div>
                  <div class="form-group ">
                    <label >Địa Chỉ</label>
                    <input type="text" class="form-control" placeholder="địa chỉ" name="diaChi" ng-model="diaChi" minlength="3" maxlength="40" ng-required=true>
                    <span class="error" ng-show="f1.diaChi.$error.required">Không được để trống</span>
                    <span class="error" ng-show="f1.diaChi.$error.maxlength">Không được nhập quá 40 ký tự</span>
                    <span class="error" ng-show="f1.diaChi.$error.minlength">Không được nhập ít hơn 3 ký tự</span>
                </div>
                <div class="form-group ">
                    <label >Tai khoan</label>
                    <input type="text" class="form-control" placeholder="username" name="taiKhoan" ng-model="taiKhoan" minlength="3" maxlength="20" ng-required=true>
                    <span class="error" ng-show="f1.taiKhoan.$error.required">Không được để trống</span>
                    <span class="error" ng-show="f1.taiKhoan.$error.maxlength">Không được nhập quá 20 ký tự</span>
                    <span class="error" ng-show="f1.taiKhoan.$error.minlength">Không được nhập ít hơn 3 ký tự</span>
                </div>
                <div class="form-group">
                    <label >Mat Khau</label>
                    <input type="text" class="form-control" placeholder="pass" name="pass" ng-model="pass" minlength="3" maxlength="20" ng-required=true>
                    <span class="error" ng-show="f1.pass.$error.required">Không được để trống</span>
                    <span class="error" ng-show="f1.pass.$error.maxlength">Không được nhập quá 20 ký tự</span>
                    <span class="error" ng-show="f1.pass.$error.minlength">Không được nhập ít hơn 3 ký tự</span>
                </div>
                <button type="button" class="btn btn-outline-primary nutSubmit" ng-click="addInfo()">Lưu</button>
            </form>
        </div>
    </div>
</div>
</div>