<div class="row">
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title text-center">Them Rap Phim</h4>
                <form  method="post" name="f1" novalidate>
                    <div class="form-group">
                        <label for="exampleInput">Tên Rạp Phim</label>
                        <input type="text" class="form-control" placeholder="Enter name" name="nameRap" ng-model="nameRap" minlength="3" maxlength="20" ng-required=true>                  
                    </div>
                    <span class="error" ng-show="f1.nameRap.$error.required">Không được để trống</span>
                    <span class="error" ng-show="f1.nameRap.$error.maxlength">Không được nhập quá 20 ký tự</span>
                    <span class="error" ng-show="f1.nameRap.$error.minlength">Không được nhập ít hơn 3 ký tự</span>
                    <div class="form-group ">
                        <label >Địa Chỉ</label>
                        <input type="text" class="form-control" placeholder="địa chỉ" name="diaChi" ng-model="diaChi" minlength="3" maxlength="40" ng-required=true>
                        <span class="error" ng-show="f1.diaChi.$error.required">Không được để trống</span>
                        <span class="error" ng-show="f1.diaChi.$error.maxlength">Không được nhập quá 40 ký tự</span>
                        <span class="error" ng-show="f1.diaChi.$error.minlength">Không được nhập ít hơn 3 ký tự</span>
                    </div>
                    <button type="button" class="btn btn-outline-primary nutSubmit" ng-click="addInfoRap()">Lưu</button>
                </form>
            </div>
        </div>
    </div>
</div>