<div class="row">
 <div class="col-12 mt-5">
  <div class="card">
    <div class="card-body">
      <h4 class="header-title text-center">LIST RAP PHIM</h4>
      <div class="single-table">
        <div class="table-responsive">
          <table class="table text-center">
            <thead class="text-uppercase bg-primary">
              <tr class="text-white">
                <th scope="col">ID</th>
                <th scope="col">TÊN</th>             
                <th scope="col">ĐỊA CHỈ</th>
                <th scope="col">XỬ LÝ</th>
              </tr>
            </thead>
            <tbody ng-repeat="rapChild in rap" ng-init="rapChild.hienThi=true">
              <tr ng-show="rapChild.hienThi">
                <th scope="row">{{rapChild.id}}</th>
                <td>{{rapChild.tenRap}}</td>           
                <td>{{rapChild.diaChi}}</td>
                <td>
                  <i class="fa fa-pencil" ng-click="showEdit(rapChild)" style="padding-right: 13px; cursor: pointer;"></i>
                  <i class="ti-trash" ng-click="deleteRap(rapChild.id)"></i>
                </td>
                <!-- edit data nhan vien</!-->
                <tr ng-show="!rapChild.hienThi" >
                  <th scope="row">{{rapChild.id}}</th>
                  <td> <input type="text" class="form-control" ng-model="rapChild.tenRap" minlength="3" maxlength="20" required>
                  </td>
                  <td>
                    <input type="text" class="form-control" ng-model="rapChild.diaChi" minlength="3" maxlength="40" required>
                  </td>
                <td>
                  <i class="fa fa-check" ng-click=" editrapChild(rapChild)" style="padding-right: 13px; cursor: pointer;"></i>  
                   <i class="fa fa-close" ng-click="show(rapChild)" style="cursor: pointer;"></i>                               
                </td>
              </tr>



            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
</div>
</div>
</div>