<div class="row">
  <div class="col-12 mt-5">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title text-center">Thêm Vé</h4>
        <form  method="post" name="f1" novalidate> 
         <div class="form-group row">
          <label class="col-2 col-form-label">Chọn ngày chiếu :</label>
          <md-datepicker ng-model="ngayC.date"   md-placeholder="" ng-change="getSC(ngayC.date)"></md-datepicker>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Suất chiếu :</label>
          <select  class="form-control col-10" name="idSC" ng-model="idSuatChieu" ng-change="getPC()" ng-required=true>
           <option ng-repeat="sc in schieu" value="{{sc.idSC}}">{{sc.gioChieu | date: "HH:mm:ss"}}</option>
         </select>
         <span class="error" ng-show="f1.idSC.$error.required">Không được để trống</span>
       </div>  
       <div class="form-group row">
        <label for="exampleInput" class="col-2 col-form-label">Số lượng vé : </label>
        <input type="number" name="slVe" class="col-2 form-control" ng-min="1"  ng-max="{{slSum}}" min="1" max="{{slSum}}" ng-model="slVe" ng-required=true>
        <label for="exampleInput" class="col-8 col-form-label">Số lượng vé tối đa:{{slSum}} </label>
        <span class="error" ng-show="f1.slVe.$error.required">Không được để trống</span>
        <span class="error" ng-show="f1.slVe.$error.max">Quá số lượng cho phép</span>
        <span class="error" ng-show="f1.slVe.$error.min">Số lượng không hợp lệ</span>
        <span class="error" ng-show="f1.slVe.$error.number"> Không hợp lệ</span>
      </div>
      <div class="form-group row">
        <label for="exampleInput" class="col-2 col-form-label">Giá vé : </label>
        <input type="number" name="giaVe" step="any" class="col-3 form-control" ng-min="20000"  ng-max="" min="20000" max="" ng-model="giaVe" ng-required=true>
        <span class="col-7"></span>
        <span class="error" ng-show="f1.giaVe.$error.required">Không được để trống</span>
        <span class="error" ng-show="f1.giaVe.$error.max">Quá số lượng cho phép</span>
        <span class="error" ng-show="f1.giaVe.$error.min">Số lượng không hợp lệ</span>
        <span class="error" ng-show="f1.giaVe.$error.number"> Không hợp lệ</span>
      </div>
      <button type="button" class="btn btn-outline-primary nutSubmit" ng-disabled="f1.$invalid" ng-click="addVe()" >Thêm</button>
    </form>
  </div>
</div>
</div>
</div>