<div class="row">
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title text-center">Thêm Suất Chiếu</h4>
                <form  method="post" name="frSC" novalidate>
                    <div class="form-group row">
                        <label for="exampleInput" class="col-2 col-form-label">Thời gian suất chiếu</label>
                        <div class="col-10">
                            <input  class="form-control" type="time" ng-model="gioSC.time" min="8:00" max="24:00" placeholder="HH:mm" value={{ gioSC.date | date : 'HH:mm' }} ng-required=true id="example-date-input" name="timeSC">
                            <span class="error" ng-show="frSC.timeSC.$error.required">Không được để trống</span>
                            <span class="error" ng-show="frSC.timeSC.$error.time">Trường cần điền là thời gian</span>
                            <span class="error" ng-show="frSC.timeSC.$error.min">Không được thêm trước 8:00 AM</span>
                        </div> 
                    </div>   
                   <button type="button" class="btn btn-outline-primary nutSubmit" ng-click="addInfoSC()">THÊM</button>
               </form>
           </div>
       </div>
   </div>
</div>
<div class="col-12 mt-5">
  <div class="card">
    <div class="card-body">
      <h4 class="header-title text-center">LIST SUẤT CHIẾU</h4>
      <div class="single-table">
        <div class="table-responsive">
          <table class="table text-center">
            <thead class="text-uppercase bg-primary">
              <tr class="text-white">
                <th scope="col">ID</th>
                <th scope="col">Giờ Chiếu</th>             
                <th scope="col">XỬ LÝ</th>
            </tr>
        </thead>
        <tbody ng-repeat="val in sc" ng-init="val.hienThi=true">
          <tr ng-show="val.hienThi">
            <th scope="row">{{val.id}}</th>
            <td>{{val.gioChieu | date: "HH:mm"}}</td>           
            <td>
              <i class="fa fa-pencil" ng-click="showEdit(val)" style="padding-right: 13px; cursor: pointer;"></i>
              <i class="ti-trash" ng-click="deleteSC(val.id)"></i>
          </td>
          <!-- edit data nhan vien</!-->
          <tr ng-show="!val.hienThi" >
              <th scope="row">{{val.id}}</th>
          <td> <input type="time" class="form-control" ng-model="gioSCEdit.time" min="8:00" max="24:00" value={{ gioSCEdit.date | date : 'HH:mm' }}   required>
          </td>
              <td>
                  <i class="fa fa-check" ng-click=" edisc(val)" style="padding-right: 13px; cursor: pointer;"></i>  
                  <i class="fa fa-close" ng-click="show(val)" style="cursor: pointer;"></i>                               
              </td>
          </tr>



      </tbody>
  </table>
</div>